/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8/03/2014, 03:57:05 PM
    Author     : QUINTERO
*/

header {
/*    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 18px; 
    line-height: 24px;
    margin-bottom: 30px;*/
}

#menuContent {
    float : left;
    width: 25%;
}

#bodyContent {
    float: left;
    width: 50%;
    height: 100%;
    background: white;
    /*box-shadow: 10px 10px 5px #888888;*/
    -webkit-box-shadow: 33px 25px 62px 9px rgba(51,51,51,0.72);
    -moz-box-shadow: 33px 25px 62px 9px rgba(51,51,51,0.72);
    box-shadow: 33px 25px 62px 9px rgba(51,51,51,0.72);
}

#propertiesContent {
    float: left;
    width: 20%;
    height: 100%;
    margin-left: 5%;
}

footer {
    clear: both;
}
#logo {
    /*float: left;*/
    width: 10px;
    margin-left: 10px;
    text-align: left;
    /*position: absolute;*/
}


//SVG IMAGEE
#SVGCanvas {
    width: 100%;
    height: 80%;
}

.zone {
    fill : white;
    stroke : #333333; 
    stroke-width: 1.4173px ;
    stroke-linecap:round ;
/*    stroke-linejoin:round ;
    stroke-miterlimit: 10;*/
}

.zone:hover {
    fill: #56B1C3;
    fill-opacity: 0.5;
}

#menuContent h3 {
    margin-left: 15px;
}

#menuContent label {
    margin-left: 30px;
}

#zona-alerta {
    text-align: center;
    height: 24px;
}

/*#opciones {
    text-align: center;
    width: 500px;
    background: white;
    margin: 5px;
    padding: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 1);
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 1);

}

#opciones label {
    text-align: left;
    color : #333333;
    display: block;
    float: left;
    margin: 10px 0 10px 10px;
    width: 300px;
}
#opciones select {
    color : #333333;
    float: right;
}*/

#info-detalle label {
    margin-bottom: 0px;
    width: 100%;
    float: left;
}

#info-detalle label.ref {
    margin-bottom: 18px;
    font-weight: bold;
    width: 100%;
    float: left;
}
